name: CI

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.org'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.org'
  schedule:
    - cron: "0 7 * * 0"

jobs:
  test:
    name: 'Compile and Test'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - '24.4'
          - '24.5'
          - '25.1'
          - '25.2'
          - '25.3'
          - '26.1'
          - '26.2'
          - '26.3'
          - '27.1'
          - '27.2'
          - '28.1'
          - '28.2'
          - '29.1'
          - 'release-snapshot'
          - 'snapshot'
    steps:
    - uses: actions/checkout@v4
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs-version }}
    - name: Provide seq.el on Emacs 24
      if: ${{ startsWith(matrix.emacs-version, '24.') }}
      run: mv .github/workflows/seq-24.el seq.el
    - name: Basic checks
      run: make check
    - name: Run interpreted tests
      run: make test
    - name: Byte compile all files
      run: |
        sed -i "s/ no-byte-compile: t;//" compat-macs.el compat-tests.el
        make compile
    - name: Run compiled tests
      run: make test
    - name: Make info manual
      run: make compat.info
